.search_form {
  position: relative;
  max-width: 511px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.input {
  border: 1px solid #323b54;
  border-radius: 12px;
  padding-left: 56px;
  padding-right: 16px;
  width: 384px;
  height: 64px;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 18px;
  line-height: 1.14286;
  font-weight: 400;
}

.input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14286;
  color: #475069;
}

.input:focus-visible {
  border: 1px solid #304c98;
  outline: none;
}

.search_button {
  position: absolute;
  top: 22px;
  left: 18px;
  width: 24px;
  height: 24px;
}
